<?= Form::open() ?>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Ajouter un calcul</h4>
        </div>
        <div class="modal-body">
            <div class="form-group dropdown-field span-full">
                <select class="form-control custom-select" data-request="onChooseCalcul" name="calculCode">
                    <option value="" disabled selected>--Choisissez un calcul--</option>
                    <?php foreach($calculTagList as $key => $value)  { ?>
                    <option value="<?=$key?>"><?=$value?></option>
                    <?php } ?>
                </select>
            </div>
            <div id="calculAttributes">
                <!--Emplacement pour les data-->
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" data-stripe-load-indicator data-request="onCreateCalculTagValidation"
                data-request-data="redirect:0," class="btn btn-primary" data-dismiss="modal">
                AJouter
            </button>
        </div>
    </div>
</div>
<?= Form::close() ?>